@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------------------------------- Laptops and Desktops ------------------------- */

@media (min-width: 1200px){

.max-width{
    /*max-width: 1300px;*/
    padding: 0 80px;
    margin: auto;
}

.imp{
  font-family: 'Poppins', sans-serif;
}

.imp{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} /* change orientations here */

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

.imp{
  display: flex;
  color: #000000;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

/* ----------------------- Drop down ----------------- */

.box {
  position: relative;
  margin-left: -50%;
  margin-right: 20%;
  margin-top: 60%;
  transform: translate(-50%, -50%);
}

.box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.boxx {
  position: relative;
  margin-left: 0%;
  margin-right: 20%;
  margin-top: 30%;
  transform: translate(-50%, -50%);
}

.boxx select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.boxx::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.boxx:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.boxx select option {
  padding: 30px;
}

/* ----------------------- LTI Boxes ----------------- */

.box1 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 70%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  width: 133%;
}

.box1 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box1::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box1:hover::before {
  color: #176696;
  background-color: #176696;
}

.box1 select option {
  padding: 30px;
}

.fill {
  width: calc(100% - 22px);
  position: relative;
  border: 0px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
  transform: translate(-50%, -50%);
  margin-left: 10%;
  margin-top: 10%;
  float: left;
}
.fill2 {
  position: relative;
  margin-top: 0%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.box2 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 80%;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box2 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box2:hover::before {
  color: #176696;
  background-color: #176696;
}

.box2 select option {
  padding: 30px;
}

.box3 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 60%;
  margin-bottom: 60%;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box3 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box3::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box3:hover::before {
  color: #176696;
  background-color: #176696;
}

.box3 select option {
  padding: 30px;
}

.fill3 {
  position: relative;
  margin-left: 60%;
  margin-top: 15%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.boxB {
  position: relative;
  margin-left: 10%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.boxB select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.boxB::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.boxB:hover::before {
  color: #176696;
  background-color: #176696;
}

.boxB select option {
  padding: 30px;
}

.fill5 {
  position: relative;
  margin-left: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

}

/* ----------------------------------------- Large Tabs ------------------------------------------ */

@media (max-width: 1200px) and (min-width: 1024px){

  
  .max-width{
    max-width: 1024px;
    padding: 0 40px;
    margin: auto;
  }
  
  .imp{
  font-family: 'Poppins', sans-serif;
  }
  
  .imp{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .imp{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }

  .box {
    position: relative;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0%;
    border: 1px solid #98CB3B;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .boxx {
    position: relative;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
  }
  
  .boxx select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0%;
    border: 1px solid #98CB3B;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;
  }
  
  .boxx::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .boxx:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .boxx select option {
    padding: 30px;
  }
  
  .box1 {
    position: relative;
    margin-left: 50%;
    margin-top: 40%;
    margin-bottom: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }
  
  .fill {
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-top: 0%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  .box2 {
    position: relative;
    /*margin-left: 20%;*/
    margin-top: 80%;
    margin-left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box2 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box2::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box2:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box2 select option {
    padding: 30px;
  }
  
  .box3 {
    position: relative;
    margin-top: 60%;
    margin-bottom: 60%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  
  .box3 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box3::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box3:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box3 select option {
    padding: 30px;
  }
  
  .fill3 {
    position: relative;
    margin-left: 60%;
    margin-top: 15%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  .boxB {
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .boxB select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .boxB::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .boxB:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .boxB select option {
    padding: 30px;
  }
  
  .fill5 {
    position: relative;
    margin-left: 40%;
    margin-top: -10%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  }

/* ------------------------------------- Larger Tabs --------------------------------------------- */

@media (max-width: 1023px) and (min-width: 768px){

  
.max-width{
  max-width: 1024px;
  padding: 0 40px;
  margin: auto;
}

.imp{
font-family: 'Poppins', sans-serif;
}

.imp{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
} /* change orientations here */

section .title{
position: relative;
text-align: center;
color: #000000;
font-size: 40px;
font-weight: 500;
margin-top: 10%;
font-family: 'Ubuntu', sans-serif;
}

.imp{
display: flex;
color: #000000; /* Color of Name, and moving text in first page*/
background-size: cover;
background-attachment: fixed;
font-family: 'Ubuntu', sans-serif;
}

.box {
  position: relative;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.boxx {
  position: relative;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.boxx select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.boxx::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.boxx:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.boxx select option {
  padding: 30px;
}

.box1 {
  position: relative;
  margin-left: 50%;
  margin-top: 20%;
  margin-bottom: -40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box1 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box1::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box1:hover::before {
  color: #176696;
  background-color: #176696;
}

.box1 select option {
  padding: 30px;
}

.fill1 {
  position: relative;
  margin-top: 5%;
  margin-left: 30%;
  transform: translate(-50%, -50%);
  float: left;
}
.fill2 {
  position: relative;
  margin-top: 0%;
  margin-left: 30%;
  transform: translate(-50%, -50%);
  float: left;
}

.box2 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box2 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box2:hover::before {
  color: #176696;
  background-color: #176696;
}

.box2 select option {
  padding: 30px;
}

.box3 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 20%;
  margin-bottom: -30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box3 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box3::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box3:hover::before {
  color: #176696;
  background-color: #176696;
}

.box3 select option {
  padding: 30px;
}

.fill3 {
  position: relative;
  margin-left: 60%;
  margin-top: 15%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.boxB {
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.boxB select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.boxB::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.boxB:hover::before {
  color: #176696;
  background-color: #176696;
}

.boxB select option {
  padding: 30px;
}

.fill5 {
  position: relative;
  margin-left: 40%;
  margin-top: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

}

@media (max-width: 767px) and (min-width: 720px){

  
  .max-width{
    max-width: 1024px;
    padding: 0 40px;
    margin: auto;
  }
  
  .imp{
  font-family: 'Poppins', sans-serif;
  }
  
  .imp{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .imp{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .box {
    position: relative;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0%;
    border: 1px solid #98CB3B;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  
  .box1 {
    position: relative;
    margin-left: 50%;
    margin-top: 20%;
    margin-bottom: -40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }
  
  .fill1 {
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-top: 0%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  .box2 {
    position: relative;
    /*margin-left: 20%;*/
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box2 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box2::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box2:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box2 select option {
    padding: 30px;
  }
  
  .box3 {
    position: relative;
    /*margin-left: 20%;*/
    margin-top: 20%;
    margin-bottom: -30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box3 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box3::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box3:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box3 select option {
    padding: 30px;
  }
  
  .fill3 {
    position: relative;
    margin-left: 60%;
    margin-top: 15%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  .boxB {
    position: relative;
    margin-left: 45%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  
  .boxB select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .boxB::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .boxB:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .boxB select option {
    padding: 30px;
  }
  
  .fill5 {
    position: relative;
    margin-left: 40%;
    margin-top: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  
  }

/* ----------------------------------------- Tabs ------------------------------------------ */

@media (max-width: 767px) and (min-width: 720px){

  
.max-width{
  max-width: 1024px;
  padding: 0 40px;
  margin: auto;
}

.imp{
font-family: 'Poppins', sans-serif;
}

.imp{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
} /* change orientations here */

section .title{
position: relative;
text-align: center;
color: #000000;
font-size: 40px;
font-weight: 500;
margin-top: 10%;
font-family: 'Ubuntu', sans-serif;
}

.imp{
display: flex;
color: #000000; /* Color of Name, and moving text in first page*/
background-size: cover;
background-attachment: fixed;
font-family: 'Ubuntu', sans-serif;
}

.box {
  position: relative;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.box::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.boxx {
  position: relative;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.boxx select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0%;
  border: 1px solid #98CB3B;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}

.boxx::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.boxx:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.boxx select option {
  padding: 30px;
}

.box1 {
  position: relative;
  margin-left: 50%;
  margin-top: 10%;
  margin-bottom: -40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box1 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box1::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box1:hover::before {
  color: #176696;
  background-color: #176696;
}

.box1 select option {
  padding: 30px;
}

.fill1 {
  position: relative;
  margin-top: 5%;
  margin-left: 30%;
  transform: translate(-50%, -50%);
  float: left;
}
.fill2 {
  position: relative;
  margin-top: 0%;
  margin-left: 30%;
  transform: translate(-50%, -50%);
  float: left;
}

.box2 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box2 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box2:hover::before {
  color: #176696;
  background-color: #176696;
}

.box2 select option {
  padding: 30px;
}

.box3 {
  position: relative;
  /*margin-left: 20%;*/
  margin-top: 20%;
  margin-bottom: -30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box3 select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box3::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.box3:hover::before {
  color: #176696;
  background-color: #176696;
}

.box3 select option {
  padding: 30px;
}

.fill3 {
  position: relative;
  margin-left: 60%;
  margin-top: 15%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.boxB {
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.boxB select {
  background-color: #98CB3B;
  color: white;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 30px;
  border-block-color: #176696;
  border-block-start-color: #176696;
  border-top-color: #176696;
  border-color: #176696;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.boxB::before {
  content: "\f13a";
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: #176696;
  background-color: #176696;
  pointer-events: none;
}

.boxB:hover::before {
  color: #176696;
  background-color: #176696;
}

.boxB select option {
  padding: 30px;
}

.fill5 {
  position: relative;
  margin-left: 40%;
  margin-top: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

}

/* ----------------------------------------- Smaller Phones ------------------------------------------ */

@media (max-width: 720px)
{
  .max-width{
    max-width: 1024px;
    padding: 0 40px;
    margin: auto;
  }
  
  .imp{
  font-family: 'Poppins', sans-serif;
  }
  
  .imp{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  } /* change orientations here */
  
  section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10%;
  margin-left: -10%;
  font-family: 'Ubuntu', sans-serif;
  }
  
  .imp{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  }

  .box {
    position: relative;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 30%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0%;
    border: 1px solid #98CB3B;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;
  }
  
  .box::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .boxx {
    position: relative;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 30%;
    transform: translate(-50%, -50%);
  }
  
  .boxx select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0%;
    border: 1px solid #98CB3B;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;
  }
  
  .boxx::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .boxx:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .boxx select option {
    padding: 30px;
  }

  .box1 {
    position: relative;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: -40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box1 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box1::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box1:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box1 select option {
    padding: 30px;
  }

  .fill1 {
    position: relative;
    margin-top: 10%;
    margin-left: 40%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }
  .fill2 {
    position: relative;
    margin-top: 0%;
    margin-left: 40%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }

  .box2 {
    position: relative;
    /*margin-left: 20%;*/
    margin-top: 20%;
    margin-left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box2 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box2::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box2:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box2 select option {
    padding: 30px;
  }
  
  .box3 {
    position: relative;
    /*margin-left: 20%;*/
    margin-top: 20%;
    margin-bottom: -30%;
    margin-left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box3 select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box3::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .box3:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .box3 select option {
    padding: 30px;
  }

  .fill3 {
    position: relative;
    margin-left: 60%;
    margin-top: 30%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
  }

  .boxB {
    position: relative;
    margin-left: 40%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .boxB select {
    background-color: #98CB3B;
    color: white;
    padding: 12px;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-block-color: #176696;
    border-block-start-color: #176696;
    border-top-color: #176696;
    border-color: #176696;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .boxB::before {
    content: "\f13a";
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #176696;
    background-color: #176696;
    pointer-events: none;
  }
  
  .boxB:hover::before {
    color: #176696;
    background-color: #176696;
  }
  
  .boxB select option {
    padding: 30px;
  }

  .fill5 {
    position: relative;
    margin-left: 45%;
    margin-top: -2%;
    transform: translate(-50%, -50%);
    float: left;
  }

}

/* -------------------------------------------------------------------------------------------------- */

.select1{
  position: relative;
  width: 10%;
  z-index: 999;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

section{
  padding: 10px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

/* ------------------------------------------ Drop Down ------------------------------------------------------- */

/* --------------------------------------------- Drop Down END ---------------------------------------------------------*/

.fill4 {
  position: relative;
  margin-left: 60%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}


/* ----------------------------------------- Plot Button -----------------------------------------------------*/

.buttonTotal {
  display: block;
  width: 30%;
  height: 20%;
  font-size: 100%;
  position: relative;
  padding: 10px 20px;
  background-color: #98CB3B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 40%;
}

.buttonTotal:hover {
  background-color: #2C9AD1;
  transform: scale(1.05);
}

/* ---------------------------------------------------- Tabs -------------------------------------------- */

.tab {
  overflow: hidden;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-style: solid;
  border-radius: 10px;
  border-color: #98CB3B;
  color: #176696;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}